<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PhxExample · Phoenix Framework</title>
  </head>
  <body>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
