name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Elixir ${{matrix.elixir}} / OTP ${{matrix.otp}}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - elixir: '1.11'
            otp: '23'
          - elixir: '1.10'
            otp: '22'
          - elixir: '1.9'
            otp: '21'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Elixir
      uses: erlef/setup-elixir@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    - name: Restore deps cache
      uses: actions/cache@v2
      with:
        path: |
          deps
          examples/deps
        key: deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}-${{ github.sha }}
        restore-keys: |
          deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

    - name: Restore _build cache
      uses: actions/cache@v2
      with:
        path: |
          _build
          examples/_build
        key: build-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}-${{ github.sha }}
        restore-keys: |
          build-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          build-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

    - name: Install deps
      run: mix deps.get

    - name: Check Formatting
      run: mix format --check-formatted

    - name: Compile application
      run: mix compile
      env:
        MIX_ENV: test

    - name: Run unit tests
      run: |
        set +e
        mix test --trace
        set -e
        mix test --failed

    - name: Start integration test dependencies
      run: |
        cd examples
        docker-compose up -d
        until pg_isready -h localhost; do sleep 1; done;
        until mysqladmin --protocol tcp ping; do sleep 1; done;

    - name: Run integration tests
      run: |
        cd examples
        mix deps.get
        mix format --check-formatted
        mix test
        MIX_ENV=test mix instrumented_task
        MIX_ENV=test mix uninstrumented_task
